
        <div class="hero-unit extratop3 msides2">
<p style="font-weight: bold;">Fest of the Film Fest </p>
<p style="font-size:small;font-weight: bold;">Friday, November 7 </p>
<p style="font-size:small;font-weight: bold;">SPUR Gallery’s "Infinite Loop" Lounge and Theatre </p>
<p style="font-size:small" style="font-weight: bold;">Tickets: $25  (Limited to 100)</p>

<p style="font-size:small">Doors open 6:30pm.  Enjoy the "Infinite Loop" short films mash-up. </p>  

<p style="font-size:small">Complimentary cocktails and served by local urban planners turned mixers and shakers.  </p>

<p style="font-size:small">@7:30pm, <i><b>Impossible Light</i></b> documentary screening/Q&A the makers, Jeremy Ambers and Ben Davis. </p>

<p style="font-size:small">Keep the party going in the Infinite Loop Lounge until 11pm, alternate between the sounds of DJ and “Silent Frisco” headphones for Infinite Loop audio to follow closely urban history through the lens of planners and filmmakers.
        </p>    
</div>

<div class="hero-unit msides2">
        
        <p style="font-weight: bold;">Urban Planning as a Design Problem </p>
<p style="font-size:small;font-weight: bold;">Saturday, November 8 </p>
<p style="font-size:small;font-weight: bold;">All Day Ticket: $22 (Limited to 100) </p>

<p style="font-size:small" >The design of a city influences our every day experience, it’s economic health, and how a sense of community can be fostered.  The films featured on Saturday portray urban planning as a design problem and include the mesmerizing <i><b>Urbanized</i></b>, the inspiring <i><b>Rock the Boat</i></b>, and a fascinating segment from the locally produced work-in-progress <i><b>Saving the City</i></b>.  The day will end with a panel discussion on the evolution of San Francisco’s in-town new town, Mission Bay, a neighborhood designed from scratch.  As part of the panel, Ron Blatman, producer and director of <i><b>Saving the City</i></b> will discuss how he chose Mission Bay as the focus of the San Francisco segment in this upcoming PBS TV series. 
        </p>
        
</div>

<div class="hero-unit msides2">
        
        <p style="font-weight: bold;">Urban Planning as a Search for Social Equity </p>
<p style="font-size:small;font-weight: bold;">Sunday, November 9 </p>
<p style="font-size:small;font-weight: bold;">All Day Ticket: $22 (Limited to 100) </p>

<p style="font-size:small">We all seek to be heard and appreciated.  Urban planning, when viewed through the lens as a search for social equity, recognizes the contributions of all segments of the population in making our cities vibrant and resilient.  In this light, urban planning is a complex system of individual rights, public policies, private markets, and cultural values which often times conflict but as often, converge.  The films on Sunday illuminate the struggle for social equity as cities carry out housing, economic development and transportation strategies with the intent of improving the lives of all but with controversial results.  The Pruitt-Igoe Myth deconstructs the myth perpetuated by the image seared into our collective unconscious of a public housing project imploding.  The Fillmore tells the story of a beloved neighborhood in San Francisco rocked by World War II and mid-century Federal urban policy.  <i><b>5 Blocks</i></b> is a work in progress showing the changes happening in real time in downtown San Francisco’s Central Market Street area. 
        </p>

        <p style="font-size:small">Join the filmmakers of <i><b>The Fillmore</i></b>, Peter L. Stein, <i><b>5 Blocks</i></b>, Robert Cortland and Dan Goldes, and the author of “Cool Gray City of Love: 49 Views of San Francisco” and Executive Editor of <i>San Francisco magazine</i>, Gary Kamiya, as they discuss how each of them approached their stories of neighborhood change. Amy Cohen of the Mayor’s Office of Economic and Workforce Development will shed light on how storytelling has become an integral part of creating a unifying economic development policy for the City.</p>
        
</div><div class="hero-unit msides2">
<p style="font-weight: bold;">Infinite Loop/Reverse “Silent Frisco” </p> 
<p style="font-size:small;font-weight: bold;">Friday, Saturday, Sunday November 7-9</p>
<p style="font-size:small;font-weight: bold;">SPUR Gallery’s "Infinite Loop" Lounge</p>

<p style="font-size:small">The SF Urban Film Fest "Infinite Loop" is a mash-up of urban planning short videos circa 1930’s to the present.  The visual experience is enhanced with “Silent Frisco” headphones from SF’s own Sunset Promotions.  
</p>
</div>

<div class="hero-unit msides2">
        
        <p style="font-weight: bold;">INSPIRE - ENGAGE - CELEBRATE </p>
<p style="font-size:small;font-weight: bold;">Saturday and Sunday November 8 & 9 </p>
<p style="font-size:small;font-weight: bold;">SPUR Gallery's "Infinite Loop" Lounge </p>

<p style="font-size:small"> Engage with local membership organizations working to improve your city.  Visit their tables, watch locally produced innovative video campaigns and learn how you can get involved. Come celebrate our urban community. </p>

<p style="font-size:small;font-weight: bold;">Saturday, November 8</p>
<p style="font-size:small;font-weight: bold;">- The San Francisco Bicycle Coalition </p>
<p style="font-size:small;font-weight: bold;">- San Francisco Public Utilities Commission (SFPUC)</p>

<p style="font-size:small;font-weight: bold;">Sunday, November 9</p>
<p style="font-size:small;font-weight: bold;">- Walk SF </p>
<p style="font-size:small;font-weight: bold;">- Bay Area Video Coalition (BAVC) </p>

</div>
        



        

</div>
<div class="">

 <hr style="height:1px;border:none;color:#333;background-color:#333;" />
<div class="hero-unit msides2">
<p style="font-weight: bold; font-size:small"> Our Partners </p>
</div>


    <div class="row msides3">


        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("spur.jpg", alt: "spur")%>
            </div>
        </div>

        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("sfbike.jpg", alt: "bike")%>
            </div>

        </div>
  
        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("sfpuc.jpg", alt: "sfpuc")%>
            </div>
        </div>
     
        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("walksf.jpg", alt: "walksf")%>
            </div>
        </div>

          <div class="span3">
            <div class="hero-unit">
                <%= image_tag("bavc.jpg", alt: "bavc")%>
            </div>
        </div>

    </div>



