<div class="row msides3 extratop">


        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("spur.jpg", alt: "spur")%>
            </div>
        </div>

        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("sfbike.jpg", alt: "bike")%>
            </div>
        </div>
  
        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("sfpuc.jpg", alt: "sfpuc")%>
            </div>
        </div>
     
        <div class="span3">
            <div class="hero-unit">
                <%= image_tag("walksf.jpg", alt: "walksf")%>
            </div>
        </div>

          <div class="span3">
            <div class="hero-unit">
                <%= image_tag("bavc.jpg", alt: "bavc")%>
            </div>
        </div>

    </div>