
<div id="reveal">
 

                	<div class="hero-unit extratop">
                		<div class="row">
                      <div class="span1">
                    </div>
                			
            		<div class="span2">
                <%= image_tag ("fay.jpg")%>
 
               				<p style="font-size:small">Fay Darmawi is an urban planner, community development investment banker, and writer.  She is active in creative civic engagement projects in San Francisco, CA, where she lives with her twin teenage sons. She also studied screenwriting at UCLA and her first script placed in several screenwriting contests. She is the Founder and Executive Producer of the <b>SF Urban Film Fest</b>, the first urban planning film festival in the nation. 
               				</p>
                   
                    </div>
                    
                    <div class="span1">
                    </div>


                     <div class="span2">
                <%= image_tag ("phil.jpg")%>
 
                      <p style="font-size:small">Phil Millenbah, AICP is a planner with 25 years of city planning experience in both the public and private sectors. His current projects include, StreetUtopia, a public adovacy group; CivicSearch, a start up that is focusing on developing a new search engine of civic data-data that is not currently available from any other source, and: StreetAir, which is a group of Jr and Senior High students that are monitoring air quality along high use pedestrian corridors. 
                      </p>
                   
                    </div>

                    <div class="span1">
                    </div>
                    
                			 
            		<div class="span2">

                <%= image_tag ("connor.jpg")%>
 
                      <p style="font-size:small"; >Connor Eichten is a UCLA undergraduate studying Economics and Urban Planning. He is passionate about urban issues and their relationship with economic development, especially within the Bay Area. Upon his graduation, Connor will pursue a career in the Bay Area real estate industry. He currently lives in Los Angeles, CA. 
                      </p>
                   
                    </div>

                    <div class="span1">
                    </div>
                   
                     <div class="span2">
                <%= image_tag ("alex.jpg")%>
 
                      <p style="font-size:small">Alex Zimmer is a filmmaker, web designer and writer and the creative director of the film festival.  He grew up in the beautiful city of Chicago and studied in Philadelphia.  He currently spends time in San Francisco and New York enjoying all that cities have to offer.
                      </p>
                   
                    </div>

                    <div class="span1">
                    </div>
                    


                </div>
                <div class="msides extratop">
          <%= image_tag ("mo.JPG")%>
                </div>


            </div>
 