<!DOCTYPE html>
<html>
<head>
  <title>SF Urban Film Fest</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="shortcut icon" href="http://images/fav.ico" />
<meta property="og:image" content="http://www.sfurbanfilmfest.com/assets/fp-c95c0d4d454f170df534b73f6211a74d.jpg"/>
</head>

<body>

<div class="navbar navbar-wrapper drop">
	<div id="cssmenu">
   
 
  <div class="navbar-inner">
    
      <nav class="">
      
      
        <div class="container extratop2">
          <ul class="navbar-brand">
		     <a href="/" class=""> 
               <span class="ab", data-title="SF Urban Film Fest"> <%= image_tag("logo.jpg", alt: "cv")%></span>
            </a>  
        </div>
<div class="navbar-brand">
      <div id="reveal">
            <a href="" class="" id="nav-text">
      <span data-title="Team">   </span>
      </a>

			<a href="/" class="roll" id="nav-text">
			<span data-title="Home">Home</span>
			</a>
			<a href="/about" class="roll" id="nav-text">
			<span data-title="About">About</span>
			</a>
      
            
			<a href="/team" class="roll" id="nav-text">
			<span data-title="Team">Team</span>
			</a>
			<a href="/schedule" class="roll" id="nav-text">
			<span data-title="Schedule">Schedule</span>
			</a>
      <a href="/films" class="roll" id="nav-text">
      <span data-title="Films">Films</span>
      </a>
      <a href="/tickets" class="roll" id="nav-text">
      <span data-title="Tickets">Tickets</span>
      </a>
      <a href="/blog" class="roll" id="nav-text">
      <span data-title="Blog">Blog</span>
      </a>
      <a href="/resources" class="roll" id="nav-text">
      <span data-title="Resources">Resources</span>
      </a>
      <a href="/contact" class="roll" id="nav-text">
      <span data-title="Contact">Contact</span>
      </a>
        </ul>
      </nav>
   </div>
   </div> 
 </div>
  </div>
</div>

<%= yield %>
<div class="container">
<footer class="footer">
  <small>
    <p>developed and designed by <a href="http://www.alexzimmer.com">Alex Zimmer</a></p>
    
  </small>
  <nav>
    <ul>
      <li><%= image_tag("logo.jpg", alt: "cv")%></li>
 <li><a href="https://www.facebook.com/events/1499269766982179/"> <%= image_tag("fbsmall.jpg", alt: "fb")%> </a> </li>
 <li><a href="http://twitter.com/sfurbanfilmfest"> <%= image_tag("twittersmall.jpg", alt: "twit")%> </a> </li>
      <li><%= link_to "Partners",   partners_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><%= link_to "Volunteer", contact_path %></li>

    </ul>
  </nav>
</footer>
</div>
</body>
</html>
